/** h5通用样式---start **/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-size: 12px;
  line-height: 1.42857143;
  color: #333;
  background-color: #EDF0F5;
}

a {
  text-decoration: none;
  color: #414a60;
}

a:hover, a:active, a:visited, a:focus {
  text-decoration: none;
  outline: none;
}

body, button, input, option, select, td, textarea {
  font-family: arial, verdana, helvetica, 'PingFang SC', 'HanHei SC', STHeitiSC-Light, Microsoft Yahei, sans-serif;
  color: #414a60;
  -webkit-font-smoothing: antialiased;
}

button {
  color: inherit;
}

a, b, body, button, dd, div, dl, em, footer, form, h1, h2, h3, h4, h5, h6, i, input, label, li, nav, p, select, span, td, textarea, u, ul {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

input, textarea {
  outline: none !important;
  resize: none;
}

button, input[type=button], input[type=number], input[type=search], input[type=submit], input[type=tel], input[type=text], textarea {
  -webkit-appearance: none;
}

li, ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

dt, label {
  font-weight: normal;
}

img {
  vertical-align: middle;
  /*max-width: 100%;*/
  -ms-interpolation-mode: bicubic;
  display: inline-block;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: 0 !important;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover,
.btn:focus,
.btn.focus {
  color: #333;
  text-decoration: none;
}

.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .65;
}

.btn-primary {
  min-width: 80px;
  color: #fff;
  background-color: #2bb3ee;
  border: 1px solid #2bb3ee;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:hover:active, .btn-primary:focus:active {
  color: #fff;
  background-color: #279bee !important;
  border: 1px solid #279bee !important;
}

.btn-primary.disabled, .btn-primary[disabled] {
  filter: alpha(opacity=50);
  opacity: .5;
}

.btn-primary.disabled:hover, .btn-primary[disabled]:hover {
  background-color: #2bb3ee !important;
  border: 1px solid #2bb3ee !important;
}

/*选择字的时候背景色*/
::selection {
  background: #2bb3ee;
  color: #ffffff;
}

::-moz-selection {
  background: #2bb3ee;
  color: #ffffff;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}

/*圆圈加载动画*/
[data-loader=circle] {
  width: 25px;
  height: 25px;
  -webkit-animation: circle infinite .75s linear;
  -moz-animation: circle infinite .75s linear;
  -o-animation: circle infinite .75s linear;
  animation: circle infinite .75s linear;
  border: 2px solid #fff;
  border-top-color: transparent;
  border-radius: 100%;
}

@-webkit-keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loading-animate {
  margin: 0 auto;
  border-color: #1a98fc !important;
  border-top-color: transparent !important;
}

.loading-tip {
  text-align: center;
  margin-top: 10px;
}

/*html, body {*/
/*height: 100%;*/
/*}*/

.center-table {
  display: table;
  width: 100%;
  height: 100%;
}

.center-cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#loading, #error_msg {
  display: none;
}

#error_msg {
  font-size: 16px;
}

#content_detail {
  height: 100%;
}

/*更改placeholder颜色*/
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #bbb !important;
}

input:-moz-placeholder, textarea:-moz-placeholder {
  color: #bbb !important;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #bbb !important;
}
a:hover, a:focus, a:active{
  color: #0194FF;
}
/** h5通用样式---end **/
#prompt_msg {
  display: none;
}

/** 页面专属 **/
.header {
  /*height: .38rem;*/
  /*background: #fff;*/
}

.header-bg {
  position: relative;
}

.search-filter {
  height: 100%;
  margin-left: .2rem;
  margin-right: .2rem;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
}

.flex-flow--row {
  flex-flow: row;
}

.justify-content--center {
  justify-content: center;
}

.justify-content--spaceBetween {
  justify-content: space-between;
}

.align-items--center {
  align-items: center;
}

.search-filter .item {
  height: 100%;
  border-bottom: 2px solid transparent;
  line-height: 0.38rem;
  font-size: 15px;
  color: #333;
  cursor: pointer;
}

.search-filter .item.selected {
  color: #3F92F9;
  border-bottom-color: #3F92F9;
}

.body {
  position: relative;
  margin-top: .08rem;
}

.bg-image {
  width: 100%;
  height: auto;
}

.search-bar {
  position: absolute;
  width: 100%;
  bottom: .08rem;
  padding-left: .12rem;
  padding-right: .12rem;
}

.search-bar--wp {
  position: relative;
}

.search-suggest {
  display: none;
  position: absolute;
  top: .41rem;
  left: 0;
  right: 0px;
  border: 1px solid #E0E0E0;
  background: #fff;
  _overflow: hidden;
  z-index: 1;
  box-shadow: 1px 1px 3px #ededed;
  -webkit-box-shadow: 1px 1px 3px #ededed;
  -moz-box-shadow: 1px 1px 3px #ededed;
  -o-box-shadow: 1px 1px 3px #ededed;
}

.search-suggest li {
  width: 100%;
  color: #666;
  font: 14px arial;
  line-height: 28px;
  padding: 0 8px;
  position: relative;
  cursor: default;
}

.search-suggest li:hover {
  background: #f0f0f0;
}

.search-bar__input {
  width: 100%;
  height: .40rem;
  border: 1px solid transparent;
  padding: .06rem .12rem .06rem .32rem;
  border-radius: 3px;
  background-color: #fff;
  background-image: none;
  /*box-shadow: 0 3px 7px #65a1e6;*/
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.search-bar__icon {
  position: absolute;
  left: .12rem;
  top: .13rem;
  width: .14rem;
  height: .14rem;
}

.search-bar__input:focus {
}

.app-nav {
  background: #fff;
}

.app-nav .item {
  flex: 1;
  margin-top: .12rem;
  margin-bottom: .12rem;
  text-align: center;
}

.app-nav .item:last-of-type {
  border: none;
}

.app-nav .item .figure .I {
  width: auto;
  height: .24rem;
  margin-bottom: .12rem;
}

.app-nav .item .caption {
  line-height: 14px;
  font-size: 14px;
  color: #333;
}

/*人才风采 start*/
.expertMien__title {
  position: relative;
  height: .35rem;
  line-height: .35rem;
  padding-left: .12rem;
  padding-right: .15rem;
  background: #fff;
}

.expertMien__title .logo .I {
  width: auto;
  max-height: .14rem;
}

.expertMien__title .logo {
  float: left;
}

.expertMien__title .more {
  float: right;
  color: #888888;
  line-height: .35rem;
  height: .35rem;
  font-size: 12px;
  cursor: pointer;
}

.expertMien__title .more span {
  display: inline-block;
  line-height: .35rem;
  vertical-align: text-bottom;
}
.expertMien__title .more .icon{
  font-size: 18px;
}
.expert-item{
  padding: .07rem .12rem .1rem;
  margin-bottom: .07rem;
  background: #fff;
  cursor: pointer;
}
.expert-item:last-of-type{
  margin-bottom: 0;
}
.expert-item__avatar{
  float: left;
  margin-right: .12rem;
  width: .47rem;
  height: .47rem;
  border-radius: 100%;
  background-position: 50%;
  background-size: cover;
  text-align: center;
  line-height: .47rem;
  background-color: #d3dbde;
  font-size: 28px;
  color: #fff;
}
.expert-item__baseInfo{
  float: left;
}
.expert-item__baseInfo .item1{
  line-height: .24rem
}
.expert-item__baseInfo .item2{
  line-height: .21rem;
}
.expert-item__baseInfo .name{
  font-size: 16px;
  color: #333;
  margin-right: .14rem;
}
.expert-item__baseInfo .unit{
  margin-top: .1rem;
  color: #666;
  font-size: 13px;
  /*line-height: 1;*/
}
.expert-item__baseInfo .title{
  margin-right: .06rem;
}
.tag{
  display: inline-block;
  padding: .03rem .04rem;
  border: 1px solid #3F92F9;
  line-height: 1;
  font-size: 12px;
  color: #3F92F9;
  background: #fff;
}
.subject-tag{
  display: inline-block;
  padding-left: .08rem;
  padding-right: .08rem;
  border: 1px solid #AFCAFD;
  border-radius: 100px;
  line-height: .2rem;
  font-size: 12px;
  color: #fff;
  background: #AFCAFD;
}
.expertMien__list .subject-list{
  height: .22rem;
  margin-top: .06rem;
  margin-left: .58rem;
}
.expertMien__list .subject-list .subject-tag{
  float: left;
  margin-right: .06rem;
}
/*人才风采 end*/

/*成功案例 start*/
.successCase{
  margin-top: .08rem;
}
.successCase__title {
  position: relative;
  height: .41rem;
  line-height: .41rem;
  padding-left: .12rem;
  padding-right: .15rem;
  background: #fff;
}
.successCase__title .logo .I {
  width: auto;
  max-height: .14rem;
}

.successCase__title .logo {
  float: left;
}
.successCase__list{
  background-color: #fff;
  padding: .04rem .16rem .14rem;
}
.successCase__list .item{
  margin-bottom: .1rem;
  color: #888;
}
.successCase__list .item B{
  margin-right: .05rem;
}
.successCase__list .item:last-of-type{
  margin-bottom: 0;
}
/*成功案例 end*/

/*页面底部 start*/
.footer{
  margin-top: .08rem;
  text-align: center;
  padding-left: .05rem;
  padding-right: .05rem;
}
/*页面底部 end*/
@media (max-width: 374px) {
  .search-filter .item {
    font-size: 13px;
  }
}

@media (min-width: 414px) {
  .search-bar__input {
    font-size: 14px;
  }
}