* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #414a60;
}

a:hover, a:active, a:visited, a:focus {
  text-decoration: none;
  outline: none;
}

body, button, input, option, select, td, textarea {
  font-family: arial, verdana, helvetica, 'PingFang SC', 'HanHei SC', STHeitiSC-Light, Microsoft Yahei, sans-serif;
  color: #414a60;
  -webkit-font-smoothing: antialiased;
}

button {
  color: inherit;
}

a, b, body, button, dd, div, dl, em, footer, form, h1, h2, h3, h4, h5, h6, i, input, label, li, nav, p, select, span, td, textarea, u, ul {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

input, textarea {
  outline: none !important;
  resize: none;
}

button, input[type=button], input[type=number], input[type=search], input[type=submit], input[type=tel], input[type=text], textarea {
  -webkit-appearance: none;
}

li, ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

dt, label {
  font-weight: normal;
}

img {
  vertical-align: middle;
  /*max-width: 100%;*/
  -ms-interpolation-mode: bicubic;
  display: inline-block;
}

/*选择字的时候背景色*/
::selection {
  background: #2bb3ee;
  color: #ffffff;
}

::-moz-selection {
  background: #2bb3ee;
  color: #ffffff;
}

/*圆圈加载动画*/
[data-loader=circle] {
  width: 25px;
  height: 25px;
  -webkit-animation: circle infinite .75s linear;
  -moz-animation: circle infinite .75s linear;
  -o-animation: circle infinite .75s linear;
  animation: circle infinite .75s linear;
  border: 2px solid #fff;
  border-top-color: transparent;
  border-radius: 100%;
}

@-webkit-keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.loading-animate {
  margin: 0 auto;
  border-color: #1a98fc !important;
  border-top-color: transparent !important;
}

.loading-tip {
  text-align: center;
  margin-top: 10px;
}



html, body{
  height: 100%;
}

.center-table {
  display: table;
  width: 100%;
  height: 100%;
}

.center-cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
#loading, #tips, #error_msg, #radar, #vipLimit{
  display: none;
}
#radar {
  height: 100%;
  margin: 0 auto;
}

#tips, #error_msg {
  font-size: 16px;
}
