* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #414a60;
}

a:hover, a:active, a:visited, a:focus {
  text-decoration: none;
  outline: none;
}

body, button, input, option, select, td, textarea {
  font-family: arial, verdana, helvetica, 'PingFang SC', 'HanHei SC', STHeitiSC-Light, Microsoft Yahei, sans-serif;
  color: #414a60;
  -webkit-font-smoothing: antialiased;
}

button {
  color: inherit;
}

a, b, body, button, dd, div, dl, em, footer, form, h1, h2, h3, h4, h5, h6, i, input, label, li, nav, p, select, span, td, textarea, u, ul {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

input, textarea {
  outline: none !important;
  resize: none;
}

button, input[type=button], input[type=number], input[type=search], input[type=submit], input[type=tel], input[type=text], textarea {
  -webkit-appearance: none;
}

li, ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

dt, label {
  font-weight: normal;
}

img {
  vertical-align: middle;
  /*max-width: 100%;*/
  -ms-interpolation-mode: bicubic;
  display: inline-block;
}

/*选择字的时候背景色*/
::selection {
  background: #2bb3ee;
  color: #ffffff;
}

::-moz-selection {
  background: #2bb3ee;
  color: #ffffff;
}

/*圆圈加载动画*/
[data-loader=circle] {
  width: 25px;
  height: 25px;
  -webkit-animation: circle infinite .75s linear;
  -moz-animation: circle infinite .75s linear;
  -o-animation: circle infinite .75s linear;
  animation: circle infinite .75s linear;
  border: 2px solid #fff;
  border-top-color: transparent;
  border-radius: 100%;
}

@-webkit-keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.loading-animate {
  margin: 0 auto;
  border-color: #1a98fc !important;
  border-top-color: transparent !important;
}

.loading-tip {
  text-align: center;
  margin-top: 10px;
}



html, body{
  height: 100%;
}
input[type="radio"], input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}

.center-table {
  display: table;
  width: 100%;
  height: 100%;
}

.center-cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
#loading, #tips, #error_msg, #socialNetwork, #vipLimit{
  display: none;
}
#socialNetwork {
  height: 100%;
  margin: 0 auto;
}

#tips, #error_msg {
  font-size: 16px;
}

.socialNetwork {
  position: relative;
}
.filter-container {
  position: absolute;
  left: 10px;
  top: 100px;
  background-color: #fff;
  width: 130px;
  border: 1px solid #f1f1f1;
  padding: 20px;
}
.operation-section {
  position: absolute;
  display: none;
  right: 10px;
  background-color: #fff;
}
.operation-section, .data-section {
  top: 90px;
}
svg {
  cursor: move;
}
.filter-item div {
  height: 28px;
  width: 28px;
  background-color: #dcdcdc;
  display: inline-block;
}
.check-all label {
  cursor: pointer;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  background: #fff;
  border: 1px solid #ccc;
}
.hidden {
  display: none !important;
}
.check-all input[type=checkbox]:checked + label:after {
  opacity: 1;
}
.check-all label:after {
  opacity: 0;
  content: '';
  position: absolute;
  width: 12px;
  height: 8px;
  background: transparent;
  top: 4px;
  left: 5px;
  border: 5px solid #333;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
}

.operation-section {
  position: absolute;
  display: none;
  right: 5px;
  background-color: #fff;
}


.operation-container {
  border: 1px solid #e9e9e9;
  box-shadow: 0 6px 30px 2px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 4px;
}

.operation-seperator {
  height: 4px;
  background-color: #ececec;
  margin: 4px 6px;
}

.operation-tool {
  width: 54px;
  height: 54px;
  background-repeat: no-repeat;
  background-position: 3px;
  cursor: pointer;
}

.operation-scale-down {
  background-image: url(~assets/img/picture/icon_scale_down.png);
}

.operation-scale-up {
  background-image: url(~assets/img/picture/icon_scale_up.png);
}

.operation-rotate-left {
  background-image: url(~assets/img/picture/chart_operation_icon.png);
  background-size: 56px 378px;
  background-position: 2px -268px;
}

.operation-rotate-right {
  background-image: url(~assets/img/picture/chart_operation_icon.png);
  background-size: 56px 378px;
  background-position: 2px -214px;
}

.operation-scale-up:hover, .operation-scale-down:hover, .operation-fullscreen:hover, .new-newwork-operation-reset:hover, .operation-exit-fullscreen:hover, .operation-rotate-right:hover, .operation-rotate-left:hover {
  background-color: #e9e9e9;
}

.filter-item {
  height: 40px;
  line-height: 40px;
  cursor: pointer;
}

.filter-item .filter-item-checkbox {
  background-image: url(~assets/img/picture/chart_checkbox.png);
  background-repeat: no-repeat;
  background-size: 84px 196px;
}

.filter-item:hover {
  font-weight: bold;
}

.socialNetwork {
  font-family: "Microsoft Yahei", "微软雅黑", "Lantinghei SC", "Open Sans", "Hiragino Sans GB", "STHeiti", "WenQuanYi Micro Hei", "SimSun", "sans-serif";
  font-size: 18px;
}

.check-all {
  position: relative;
}

.check-all input[type=checkbox]:checked + label:after {
  opacity: 1;
}

svg {
  cursor: move;
}

.node {
  cursor: pointer;
}

.type1.checked {
  background-position: 0px 0px;
}

.type1.unchecked {
  background-position: -28px 0px
}

.type1.unchecked:hover {
  background-position: -28px 0px
}

.type2.checked {
  background-position: 0px -28px;
}

.type2.unchecked {
  background-position: -28px -28px
}

.type2.unchecked:hover {
  background-position: -28px -28px
}

.type3.checked {
  background-position: 0px -56px
}

.type3.unchecked {
  background-position: -28px -56px
}

.type3.unchecked:hover {
  background-position: -28px -56px
}

.link {
  fill: none;
  stroke-width: 1px;
  stroke-opacity: 0.5;
}

.plus {
  font-size: 28px;
  fill: rgb(255, 255, 255);
  text-anchor: middle;
}
svg:not(:root) {
  overflow: hidden;
}
